html, body{
	width: 100%;
	height: 100%;
}

.app-logo{
	width: 180px;
	height: 50px;
	margin-left: 10px;
	padding: 3px;
}

.app-navbar{
	border-radius: 0px; 
    background-color: #1b344b !important; 
    width: 100%;
}
.app-nav>li>a{
	color:#ffffff;	 
	padding-top: 20px;
	font-size: 12px;
	font-weight: bold;
	text-transform: uppercase;
}
.app-login{
	font-size: 8px;
}
.app-nav >li >a >i{
	color: white;
	font-weight: bold; 
}
.app-nav>li>a:hover{
	background-color: #ffcc99;
	color: #1b344b;
	font-weight: bold;
}
.app-submenu-home{
	text-align: center;
	padding-top: 18px;
	font-size: 10px;
	margin:0 auto;
}
.app-submenu-home ul{
	width: 80%;
	margin-left: 30px;
}
.app-submenu-home li{
	background-color: #1b344b;
	padding: 8px;
	color: white;
	text-align: center;
	margin-left: 7px;
	width: 32%;
}
.app-submenu-home li:hover{
	background-color: #b32d00;
}
.app-submenu-home li a{
	text-decoration: none;
	color: white;	
	font-weight: bold;
}
.app-layout{
	width: 100%;
	padding-top: 55px; 
}

.app-header{
	height: 60%;
}

.app-content{
	padding: 20px;
	padding-top: 30px;
	text-align: center;
}
.app-edu-justify{
   text-align: justify;
   color: #ffcc99;
   font-size: 12px;
}

.app-sidebar{
	margin-top: 15px;
	list-style:none;
}
.app-sidebar li{
	margin-bottom: 18px;
	padding: 7px 0;
	width: 90%;
	background-color: #737373;
	text-align: center;
}
.app-sidebar li:hover{
	background-color: #b32d00;
}

.app-sidebar li a{
	font-weight: bold;
	font-size: 12px;
    text-transform: uppercase;	
	color: white;	
	padding: 10px;	
	text-decoration: none;
}

.app-img-edu-logo{
   width: 250px;
   margin: 0 auto;
}
.app-img-edu-top{
	height: 250px;
	width: 400px;
}
.app-img-edu-bottom{
	height: 250px;
	width: 95%;
}
.app-edu-matricula{
	width: 95%;
	background-color: #4d4dff;
	color: white;
	vertical-align: center;
	padding: 60px 30px;
	margin-top: 50px;
	border-radius: 3px;
}

.app-edu-matricula:hover{
	background-color: #323232;	
}

.app-edu-matricula a{
	text-decoration: none;
	color: white;
	font-weight: bold;
	text-transform: uppercase;
	vertical-align: center;
}
.app-edu-cursos{
	margin: 0 auto;
   background-color: #4d4dff;
   width: 90%;
   padding: 8px 0;
}
.app-edu-cursos:hover{ 
   background-color: #323232;
}
.app-edu-cursos a{	
	color: white;
	font-size: 14px;
	text-transform: uppercase;
	text-decoration: none;
	font-weight: bold;
}
.app-footer{
	width: 100%;
	height: 50px;
	background-color: #4d4dff;
	text-align: center;
	text-transform: uppercase;
	color: white;
	padding-top: 18px;
	font-weight: bold;
	font-size: 12px;
	bottom: 0;
}

.app-background-content{
	background-color: #000033;
}
.container-fluid{
	padding-left: 0 !important;
	padding-right: 0 !important;
	width: 100%
}

.pic-carrusel-home{
	width: 100%;
	height: 300px;
}

#app-content-home {
	margin-top: 0.5em;
}

.img-alianza{
	margin-bottom: 2em;
}

#before-footer{
	height: 50px;
	width: 100%;
}